.container {
  padding: 0px 9%;
  overflow: hidden;
  height: 100vh;
}

.title {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 300;
  padding: 50px 0px 50px 0px;
  margin-bottom: 30px;
}

.containerButton {
  display: flex;
  margin-bottom: 20px;
}

.button {
  font-size: 1.2rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #262626bb;
  padding: 40px 70px;
  margin-right: 10px;
  border-bottom: 5px solid #2626262f;
  background: transparent;
  transition: all 0.25s linear;
  cursor: pointer;
}

.button:hover {
  font-size: 1.2rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #262626;
  padding: 40px 70px;
  margin-right: 10px;
  border-bottom: 5px solid #262626;
  background: transparent;
}

.containerCard {
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.7s;
}

.containerCardVisible {
  display: inline-flex;
  transition: all 0.5s ease-in;
}

.cardThe3 {
  width: 100vw;
  height: 40vh;
  padding: 0px 2%;
  display: flex;
}

.imgThe3 {
  width: 40vw;
  height: 40vh;
  background-image: url("https://www.bayernkraft.by/assets/img/auto-optimizacii/bmw3/BMW%203%20series%20(main).jpg");
  background-size: 100% 100%;
  margin-right: 20px;
}

.cardThe5 {
  width: 100vw;
  padding: 0px 2%;
  display: flex;
}

.imgThe5 {
  width: 40vw;
  height: 40vh;
  background-image: url(https://www.bmw.by/content/dam/bmw/marketB4R1/common/topics/offers-and-services/campaigns/fast-start-campaign/the5/Bild-1.jpg/jcr:content/renditions/cq5dam.resized.img.585.low.time1608296466084.jpg);
  background-size: cover;
  margin-right: 20px;
}

.cardThe7 {
  width: 100vw;
  padding: 0px 2%;
  display: flex;
}

.imgThe7 {
  width: 40vw;
  height: 40vh;
  background-image: url(https://www.bmw.by/content/bmw/marketB4R1/bmw_by/ru_BY/all-models/7-series/sedan/2019/bmw-7-series-sedan-inspire/jcr:content/par/mosaicgallery_42f7/items/mosaicgalleryitem_af/image.transform/mosaic685/image.1552989627057.jpg);
  background-size: cover;
  margin-right: 20px;
}

.description {
  width: 50%;
}

.descriotionTitle {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.descriotionText {
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.descriotionSubText {
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.descriotionButton {
  display: flex;
}

.drive {
  padding: 15px 80px;
  background-color: #1c69d4;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 700;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.drive:hover {
  padding: 15px 80px;
  background-color: #0c4799;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 700;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.offer {
  padding: 15px 60px;
  background-color: #4d4d4d;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.offer:hover {
  padding: 15px 60px;
  background-color: #353434;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.sliderButtonL {
  font-size: 40px;
  padding: 167px 10px;
  border: none;
  left: -8%;
  position: absolute;
  background-color: transparent;
}

.sliderButtonR {
  font-size: 40px;
  border: none;
  padding: 167px 10px;
  position: absolute;
  left: 105%;
  background-color: transparent;
}
